# Copyright 2023 SECO Mind Srl
# SPDX-License-Identifier: Apache-2.0

name: rust-codegen

permissions:
  contents: write

on:
  pull_request:
  push:
    branches:
      - master
      - 'release-*'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  PB_REL: https://github.com/protocolbuffers/protobuf/releases
  PB_VERSION: 24.3

jobs:
  rust-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install protoc
        run: |
          curl -LO "$PB_REL/download/v$PB_VERSION/protoc-$PB_VERSION-linux-x86_64.zip"
          unzip "protoc-$PB_VERSION-linux-x86_64.zip" -d "$HOME/.local"
          echo "$HOME/.local/bin" >> "$GITHUB_PATH"
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Generate Rust code
        run: cargo r --manifest-path rust/Cargo.toml -p rust-codegen -- -w proto/ -o out/
      - name: Upload generated code
        uses: actions/upload-artifact@v3
        with:
          name: rust-proto
          path: out/
